.body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.reasontc {
    color: #fd7e14 !important;
    text-align: center !important;
}

.wcu {
    font-size: 30px;
}

.vm {
    text-align: center;
}

